*{
    margin: 0;
   padding:0;
   text-decoration:none;
   list-style:none;
   }
   /*----------------- Top Navbar --------*/
   
   .body{
   transition:1s;
   }
   .alert{
   background-color:#f2f2f2;
   width:90%;
   height:250px;
   position:fixed;
   top:100px;
   opacity:0;
   border-radius:5px;
   margin:auto;
   margin-left:5%;
   transition:0.8s;
   }
   .backimg{
   width:100%;
   height:100vh;
   transition:2s;
   }
   .backimgs{
   display:flex;
   overflow:hidden;
   }
   .cancel{
   font-size:20px;
   display:none;
   position:absolute;
   top:0;
   right:15px;
   margin-left:92%;
   cursor: pointer;
   }
   .cancels{
   color:darkgrey;
   font-size:2em;
   position:absolute;
   top:0;
   right:15px;
   cursor: pointer;
   }
   .admit{
   font-weight:400;
   font-size:22px;
   text-align:center;
   display:none;
   width:90%;
   }
   .year{
   text-align:center;
   font-size:25px;
   }
   .date{
   text-align:center;
   font-size:22px;
   }
   .small{
   text-align:center;
   margin-top:35px;
   }
   .flink{
   color:orange;
   }
   
   .logo{
   position:fixed;
   top:0;
   left:0;
   height:60px;
   width:70px;
   }
   .name{
   text-align:center;
   font-size:2em;
   color:blue;
   }
   .list{
   display:block;
   padding-left:5px;
   display:flex;
   justify-content:flex-end;
   width:100%;
   transition:1s;
   }
   .list li a{
   display:block;
   margin:15px 15px;
   color:#fff;
   background-color:rgb(54, 54, 216);
   width:100px;
   text-align:center;
   border-radius:5in;
   padding:5px;
   transition: 0.4s;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .list li a:hover{
   background-color:#fff;
   color:blue;
   }
   .navbar{
   height:60px;
   width:100%;
   position:fixed;
   top:0;
   background-color:mintcream;
   }
   .icon{
   display:none;
   }
   .lines{
   width:30px;
   height:2px;
   margin-bottom:8px;
   background-color:#000;
   transition:0.3s;
   }
   
   
   /*--------------- body -----------------*/
   
   .header{
   color:olive;
   margin-top:60px;
   }
   
   .box1 , .box2, .box3, .box4{
   height:350px;
   width:80%;
   border-radius:15px;
   margin:15px;
   margin-top:100px;
   }
   .box1{
   background-color:orange;
   }
   .box2{
   background-color:red;
   }
   .box3{
   background-color:dodgerblue;
   }
   .box4{
   background-color:lightblue;
   }
   .set1, .set2{
   display:flex;
   }
   .head1{
   color:#fff;
   text-align:center;
   margin-top:20px;
   font-size:1.6em;
   }
   .line{
   width:50px;
   height:2.5px;
   background-color:#fff;
   margin:auto;
   margin-top:20px;
   margin-bottom:20px;
   }
   .text1{
   color:#fff;
   margin:0 25px 0 25px;
   font-size: 1.04em;
   }
   .list1{
   color:#fff;
   text-align:center;
   font-size: 1.04em;
   }
   .v{
   border-radius:50%;
   width:120px;
   height:120px;
   margin-top:-55px;
   box-shadow:0.1px 0.1px 8px 0.01px #999;
   }
   .gallery1{
   width:80%;
   height:auto;
   margin:10%;
   }
   .elearning{
   width:80%;
   margin-left:7%;
   }
   .notebook{
   line-height:1.5;
   color:grey;
   padding-bottom:10px;
   font-size: 1.03em;
   }
   .stxt{
   font-size: 1.07em;
   }
   .plat{
   padding-bottom:20px;
   }
   .simg1, .simg2, .simg3{
   width:50px;
   height:70px;
   margin:15px;
   border-radius:50%;
   
   }
   .simg1{
   background-color:lightblue;
   }
   .simg2{
   background-color:green;
   }
   .simg3{
   background-color:red;
   }
   .video{
   color:yellow;
   font-size:30px;
   }
   .img-1{
   display:flex;
   align-items:center;
   }
   .page2{
   width:85%;
   background-color:#000;
   margin:auto;
   padding-top:80px;
   margin-bottom:120px;
   padding-bottom: 50px;
   margin-top: 30px;
   }
   .innerp2{
   width:90%;
   margin:auto;
   background-color:#fff;
   }
   .meet{
   font-weight:700;
   text-align:center;
   color:#fff;
   padding-bottom:20px;
   }
   .sline{
   width:50px;
   height:3px;
   border-radius:5in;
   background-color:orange;
   margin:auto;
   margin-bottom:50px;
   }
   .founder{
   width:100%;
   }
   .solo{
   text-align:center;
   padding-top:30px;
   }
   .principal{
   color:#555;
   text-align:center;
   padding-top:50px;
   padding-bottom:70px;
   }
   .tour{
   width:65%;
   height:auto;
   margin:auto;
   cursor: progress;
   }
   .tel{
   text-align:center;
   padding-top:20px;
   font-size:20px;
   }
   .underp2{
   font-size:3em;
   text-align:center;
   color:purple;
   }
   .note{
   text-align:center;
   margin:50px 10px 50px 10px;
   font-size:1.2em;
   }
   .contact{
   text-align:center;
   color:#fff;
   border:1 px solid black;
   background-color:red;
   padding:20px 25px 20px 25px;
   border-radius:5in;
   word-spacing:2px;
   letter-spacing:1px;
   font-size:20px;
   }
   .lanote{
   margin-top:150px;
   text-align:center;
   margin-bottom:70px;
   color:purple;
   font-size:2.5em;
   }
   .galcontain{
   width:95%;
   background-color:lightgrey;
   margin:auto;
   padding-bottom:100px;
   }
   .pic{
   width:45%;
   height:350px;
   margin:2.5% 0 2.5% 2.5%;
   }
   .gal1{
   width:100%;
   height:100vh;
   display:none;
   background-color:#000;
   position:fixed;
   top:0;
   }
   .pics{
   width:100%;
   height:auto;
   }
   .gallist{
   margin-top:70px;
   display:flex;
   flex-wrap:wrap;
   }
   .gal_container{
   display:flex;
   height:100vh;
   align-items:center;
   }
   .message{
   width:100px;
   height:50px;
   position:fixed;
   bottom:10px;
   right:12px;
   }
   .lanote2{
   margin-top:150px;
   text-align:center;
   margin-bottom:40px;
   color:purple;
   font-size:2em;
   padding-top:70px;
   }
   .galink{
   text-align:center;
   color:#fff;
   background-color:orange;
   padding:20px 25px 20px 25px;
   border-radius:5in;
   margin-bottom:150px;
   }
   .galink:hover{
   background-color:violet;
   }
   
   .testy{
   text-align:center;
   color:lightgrey;
   margin-top:60px;
   margin-bottom:25px;
   }
   .testy2{
   text-align:center;
   margin-bottom:70px;
   }
   .testyimg{
   width:23%;
   height:130px;
   border-radius:50%;
   margin-top:-54px;
   }
   .testytext{
   width:80%;
   height:350px;
   background-color:grey;
   margin:10%;
   }
   .testimony2{
   display:flex;
   }
   .testimony{
   display:none;
   }
   .circle{
   display:none;
   }
   .testfc1, .testfc2{
   width:50%;
   }
   
   .testifier{
   color:#fff;
   text-align:center;
   margin:35px 15px 15px 15px;
   }
   .quote{
   width:70px;
   height:70px;
   border-radius:50%;
   margin-left:65%;
   margin-bottom:-90px;
   }
   .circle{
   width:15px;
   height:15px;
   border-radius:50%;
   border:2px solid red;
   margin:15px;
   }
   #circle1{
   background-color:red;
   }
   .circles{
   display:flex;
   justify-content:center;
   }
   .session{
   width:90%;
   background-color:#000;
   margin:5%;
   color:#fff;
   }
   .academy{
   font-size:2.8em;
   text-align:center;
   padding-top:50px;
   }
   .apply{
   font-size:1em;
   margin:5%;
   text-align:center;
   }
   .phone{
   padding-left:5%;
   }
   .number{
   display:inline-block;
   }
   .number2{
   padding-left:10%;
   padding-bottom:30px;
   }
   .lanote3{
   margin-top:100px;
   text-align:center;
   margin-bottom:40px;
   color:purple;
   font-size:2.5em;
   }
   .awards{
   width:40%;
   margin:5%;
   height:auto;
   }
   .award_div{
   display:flex;
   flex-wrap:wrap;
   }
   .parents{
   width:100%;
   margin-left:0;
   height:500px;
   margin-bottom:30px;
   }
   .pastor{
   margin-left:30px;
   }
   .prop{
   padding-top:20px;
   margin-left:30px;
   padding-bottom:70px;
   color:#999;
   }
   .mummy{
   margin-left:30px;
   margin-bottom:80px;
   }
   .testy4{
   text-align:center;
   margin-bottom:70px;
   padding-top:50px;
   }
   .pclass{
   width:80%;
   background-color:#f4f4f4;
   box-shadow:1px 1px 15px 0.5px lightgrey;
   margin:auto;
   margin-bottom:80px;
   margin-top:80px;
   }
   .news{
   background-color:red;
   width:100%;
   }
   .new{
   text-align:center;
   color:#fff;
   padding-top:50px;
   }
   .sub{
   color:#fff;
   text-align:center;
   padding-top:5px;
   font-size:1.2em;
   word-spacing:2px;
   letter-spacing:1px;
   }
   .email{
   width:60%;
   height:30px;
   margin:0;
   padding-top:15px;
   background-color:#fff;
   overflow:hidden;
   border:none;
   font-size:1em;
   padding-bottom:10px;
   padding-left:15px;
   }
   .signup{
   background-color:#000;
   color:#fff;
   height:56px;
   width:25%;
   margin:0;
   text-align:center;
   display:inline-block;
   margin-left:-5px;
   padding-top:7px;
   border:none;
   }	
   .input{
   padding-bottom:50px;
   padding-top:40px;
   width:100%;
   }
   
   #radio1:checked ~ .first{
   margin-left:0%;
   }
   #radio2:checked ~ .first{
   margin-left:-100%;
   }
   #radio3:checked ~ .first{
   margin-left:-200%;
   }
   #radio4:checked ~ .first{
   margin-left:-300%;
   }
   #radio5:checked ~ .first{
   margin-left:-400%;
   }
   #radio6:checked ~ .first{
   margin-left:-500%;
   }
   .rad{
   display:none;
   }
   
   
   
   .instruct{
   background-color:dodgerblue;
   }
   .info{
   width:90%;
   text-align:center;
   margin:auto;
   line-height:1.5;
   padding-top:15vh;
   padding-bottom:15vh;
   font-size:1.13em;
   }
   
   .formy{
   width:80%;
   padding-left:10%;
   margin:auto;
   border:1px solid #f4f4f4;
   box-shadow:0.01px 0.01px 12px 0.01px;
   margin-bottom:50px;
   padding-bottom:50px;
   border-radius:5px;
   padding-top:20px;
   margin-top:50px;
   margin-top:-40px;
   background-color:#fff;
   }
   
   .get{
   margin-left:5px;
   color:#fff;
   }
   .mess{
   width:75%;
   margin-left:5px;
   height:60px;
   margin-top:10%;
   border:0.5px solid lightgrey;
   box-shadow:0.01px 0.01px 6px ;
   border-radius:5px;
   }
   input[placeholder]{
   padding-left:5%;
   }
   .submit{
   border-radius:5px;
   color:#fff;
   height:50px;
   background-color:dodgerblue;
   }
   .ret{
   font-size:25px;
   color:#000;
   float:right;
   margin-right:15px;
   cursor: pointer;
   }
   .area{
   height:100px;
   padding-top:10px;
   padding-left:10px;
   }
   .goup{
   position:fixed;
   bottom:5px;
   left:5px;
   font-size:40px;
   font-weight:700;
   color:#fff;
   width:40px;
   height:40px;
   border-radius:50%;
   text-align:center;
   padding-bottom:10px;
   background-color:dodgerblue;
   }
   .gat{
   width:100%;
   height:100vh;
   background-color:rgba(0, 0, 0, 0.5);
   position:fixed;
   top:0;
   opacity:0;
   transition:1s;
   }
   
   input:focus{
   outline:none;
   background-color:#f4f4f4;
   }
   
   
   
   /*------------ Bottom Navbar----------*/
   
   
   .bottomnav{
   width:100%;
   background-color:olive;
   }
   .limg{
   height:53px;
   width:50px;
   margin-left:10px;
   }
   .vertical{
   background-color:purple;
   width:2px;
   height:53px;
   display:inline-block;
   margin-left:5px;
   }
   .ltext{
   color:purple;
   display:inline-block;
   margin-left:5px;
   }
   .founded{
   width:80%;
   color:#fff;
   padding-left:10px;
   padding-top:15px;
   font-size:1.05em;
   line-height:2;
   padding-bottom:15px;
   margin-left:5%;
   }
   .links{
   margin:5%;
   font-size: 1.1em;
   }
   ul.links li a{
   color:#fff;
   line-height:2;
   }
   ul.links li{
   color:#fff;
   line-height:2;
   }
   .quick{
   color:#fff;
   margin:5%;
   }
   .arrow{
   padding-right:4%;
   }
   .span{
   float:right;
   }
   .days{
   width:90%;
   }
   .quick1{
   color:#fff;
   margin:1em;
   }
   .ftext{
   color:#fff;
   margin:1em;
   }
   .lphone{
   color:#fff;
   margin:1em;
   display:inline-block;
   font-size:1.5em;
   margin-bottom:0;
   }
   .envelope{
   font-size:30px;
   }
   .num{
   color:#fff;
   } 
   
   .copy{
   text-align:center;
   padding:10px 0 10px 0;
   }
   .media{
   width:30px;
   height:30px;
   border-radius:50%;
   }
   .social{
   display:flex;
   justify-content:space-evenly;
   width:50%;
   margin:auto;
   margin-top:30px;
   padding-bottom:30px;
   }
   
   
   
   /*------------------ Mobile -------------*/
   
   
   @media screen and (max-width:680px){
   .logo{
   height:40px;
   width:50px;
   }
   .header{
   margin-top:40px;
   }
   .backimg{
   height:50vh;
   }
   .alert{
   top:80px;
   }
   .cancel{
   right:5px;
   }
   .navbar{
   height:40px;
   overflow:hidden;
   transition:1s;
   }
   .list{
   flex-direction:column;
   transition:1s;
   }
   .list li{
   position:relative;
   top:35px;
   }
   .icon{
   position:fixed;
   top:10px;
   right:5px;
   display:block;
   }
   .close{
   position:fixed;
   top:5px;
   right:5px;
   }
   .navbar.active{
   height:100vh;
   background-color:rgba(0, 0, 0, 0.5);
   }
   .icon.iconed{
   top:15px;
   }
   .body.mab{
   margin:50px;
   box-shadow:1px 1px 15px 1px;
   }
   .bod.may{
   overflow:hidden;
   }
   .second.seconds{
   display:none;
   }
   .first.firsts{
   transform:rotateZ(40deg);
   margin-bottom:-2px;
   width:40px;
   }
   .third.thirds{
   margin-top:-2px;
   transform:rotateZ(-40deg);
   width:40px;
   }
   .message.met{
   display:none;
   }
   .set1, .set2{
   flex-direction:column;
   }
   .box1 , .box2, .box3, .box4{
   margin:auto;
   margin-top:125px;
   }
   .gallery1{
   height:200px;
   }
   .page2{
   height:700px;
   }
   .innerp2{
   height:500px;
   }
   .pic{
   height:170px;
   }
   .testy{
   text-align:center;
   color:lightgrey;
   margin-top:60px;
   margin-bottom:25px;
   }
   .testy2{
   text-align:center;
   margin-bottom:70px;
   }
   .testyimg{
   width:27%;
   height:90px;
   border-radius:50%;
   margin-top:-48px;
   }
   .testytext{
   width:80%;
   height:300px;
   background-color:grey;
   margin:10%;
   }
   .testimony{
   display:flex;
   display:block;
   }
   .testimony2{
   display:none;
   }
   .circle{
   display:block;
   }
   .testfc1, .testfc2{
   width:100%;
   }
   .testfc2{
   display:none;
   }
   .testifier{
   color:#fff;
   text-align:center;
   margin:35px 15px 15px 15px;
   }
   .parents{
   height:auto;
   }
   .pic{
   width:75%;
   margin:5% 0 5% 5%;
   }
   .gallist{
   display:block;
   }
   .awards{
   width:80%;
   margin:10%;
   }
   .award_div{
   display:block;
   }
   .email{
   width:45%;
   }
   .signup{
   width:20%;
   }
   }
   .messa{
   animation-name:myAnimation;
   animation-duration:2s;
   background-color:red;
   position:fixed;
   top:0;
   height:100%;
   display:none;
   width:100%;
   overflow:scroll;
   }
   .messag{
   background-color:dodgerblue;
   width:100%;
   height:40px;
   position:fixed;
   top:0;
   }
   @keyframes myAnimation{
   0%{
   transform:rotateX(180deg);
   }
   100%{
   transform:rotateX(360deg);
   }
}